# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django
db.sqlite3
*.log
local_settings.py

# Python Virtual Environments
.venv/
venv/
ENV/
env/

# OS files
.DS_Store
Thumbs.db

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Flutter/Dart build outputs and dependencies
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
*.packages

# Docker database volume
docker_data/
